# Project Description
project_description/

# macOS
.DS_Store

# Simulation outputs
*.vvp
*.vcd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Vivado
*.log
*.jou
*.cache
*.runs
*.pb
*.wdb
xsim.dir
hardware/part1_pynq/output

# OpenROAD flow scipts
OpenROAD-flow-scripts
results/